<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nju.edu.erp.dao.CollectionSheetDao">

    <select id="getLatest" resultMap="CollectionSheetPO">
        select * from collection_sheet order by id desc limit 0,1 ;
    </select>

    <insert id="save" parameterType="CollectionSheetPO">
        insert into collection_sheet (id, customer, operator, state, total)
        values (#{id},#{customer},#{operator},#{state},#{total})
    </insert>

    <insert id="saveContent" useGeneratedKeys="true" keyProperty="id">
        insert into collection_sheet_content (account_id, collection_sheet_id, total, remark) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.accountId},#{item.collectionSheetId},#{item.total},#{item.remark})
        </foreach>
    </insert>

    <select id="findAll" resultType="com.nju.edu.erp.model.po.CollectionSheetPO">
        select * from collection_sheet;
    </select>

    <select id="findAllByState" resultType="com.nju.edu.erp.model.po.CollectionSheetPO">
        select * from collection_sheet where state = #{state}
    </select>

    <update id="updateState">
        update collection_sheet
        set state = #{state}
        where id = #{collectionId}
    </update>

    <select id="findOneById" resultType="com.nju.edu.erp.model.po.CollectionSheetPO">
        select * from collection_sheet where id=#{collectionSheetId}
    </select>

    <select id="findContentByCollectionSheetId" resultType="com.nju.edu.erp.model.po.CollectionSheetContentPO">
        select * from collection_sheet_content where collection_sheet_id = #{collection_sheet_id}
    </select>

    <resultMap id="CollectionSheetPO" type="com.nju.edu.erp.model.po.CollectionSheetPO">
        <id column="id" property="id"></id>
        <result column="operator" property="operator"></result>
        <result column="customer" property="customer"></result>
        <result column="state" property="state"></result>
        <result column="create_time" property="createTime"></result>
        <result column="total" property="total"></result>
    </resultMap>

</mapper>