<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nju.edu.erp.dao.SaleReturnsSheetDao">
    <insert id="save" parameterType="SaleReturnsSheetPO">
        insert into sale_returns_sheet (id, sale_sheet_id, supplier, operator, remark, `state`, create_time, salesman, raw_total_amount, discount, final_amount, voucher_amount)
        values (#{id},#{saleSheetId},#{supplier},#{operator},#{remark}, #{state}, #{createTime}, #{salesman}, #{rawTotalAmount}, #{discount}, #{finalAmount}, #{voucherAmount}) ;
    </insert>
    <update id="updateState">
        update sale_returns_sheet
        set state = #{state}
        where id = #{saleReturnsSheetId}
</update>
    <update id="updateStateV2">
        update sale_returns_sheet
        set state = #{state}
        where id = #{saleReturnsSheetId} and state = #{prevState}
    </update>

    <select id="getLatest" resultMap="SaleReturnsSheetPO">
        select * from sale_returns_sheet order by id desc limit 0,1 ;
    </select>
    <select id="findAll" resultType="com.nju.edu.erp.model.po.SaleReturnsSheetPO">
        select * from sale_returns_sheet;
    </select>
    <select id="findAllByState" resultType="com.nju.edu.erp.model.po.SaleReturnsSheetPO">
        select * from sale_returns_sheet where state = #{state}
    </select>
    <select id="findOneById" resultType="com.nju.edu.erp.model.po.SaleReturnsSheetPO">
        select * from sale_returns_sheet where id=#{saleReturnsSheetId}
    </select>
    <select id="findContentBySaleReturnsSheetId" resultType="com.nju.edu.erp.model.po.SaleReturnsSheetContentPO">
        select * from sale_returns_sheet_content where id = #{sale_returns_sheet_id}
    </select>
    <select id="findBatchId" resultType="java.lang.Integer">
        select wosc.batch_id from sale_sheet ss, warehouse_output_sheet wos, warehouse_output_sheet_content wosc
        where ss.id = #{saleSheetId} and wos.sale_sheet_id = ss.id and wos.id = wosc.wo_id and wosc.pid = #{pid}
    </select>

    <insert id="saveBatch" useGeneratedKeys="true" keyProperty="id">
        insert into sale_returns_sheet_content (id,sale_return_sheet_id, pid, quantity, unit_price, total_price, remark) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id}, #{item.saleReturnsSheetId},#{item.pid},#{item.quantity},#{item.unitPrice},#{item.totalPrice},#{item.remark})
        </foreach>
    </insert>

    <resultMap id="SaleReturnsSheetPO" type="com.nju.edu.erp.model.po.SaleReturnsSheetPO">
        <id column="id" property="id"></id>
        <result column="sale_sheet_id" property="saleSheetId"></result>
        <result column="operator" property="operator"></result>
        <result column="remark" property="remark"></result>
        <result column="total_amount" property="totalAmount"></result>
        <result column="state" property="state"></result>
        <result column="create_time" property="createTime"></result>
        <result column="rawTotalAmount" property="rawTotalAmount"></result>
        <result column="discount" property="discount"></result>
        <result column="voucherAmount" property="voucherAmount"></result>
        <result column="finalAmount" property="finalAmount"></result>
    </resultMap>
</mapper>